body {
    background-color: antiquewhite;
    margin: 0px;
    overflow-x: hidden;
}
input {
    display: block;
}
.workspace {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    overflow-y: scroll;
}
.base-panel,
.question-panel,
.home-link-panel,
.survey-panel,
.back-button,
.small-panel {
    background-color: whitesmoke;
    border: 3px solid gainsboro;
    border-radius: 20px;
    padding: 20px;
}
.survey-panel {
    min-width: 45vw;
    min-height: 30vh;
}
.question-panel {
    min-height: 40vh;
    min-width: 60vw;
    margin: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home-link-panel {
    min-width: 45vw;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; 
}
.back-button {
    position: absolute;
    top: 0px;
    left: 0px;
}
.question-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-input-large {
    display: block;
    height: 35vh;
    min-width: 58vw;
    word-break: break-all;
    overflow-y: scroll;
    text-align: start;
}
.small-panel {
    height: 20vh;
    width: 20vw;
}
