{% if next_question is not None %}
    <form 
        hx-post="{% url "question" next_question.id %}"
        hx-swap="outerHTML"
        hx-target="#question_panel_{{ question.id }}"
    >
        {% csrf_token %}
        <button type="submit">Перейти к следуещему вопросу</button>
    </form>
{% else %}
    {% if question.survey is not None %}
        <p>Результаты опроса:</p>
        <form 
            id="survey_stats_{{ question.survey.id }}"
            hx-post="{% url "survey_stats" question.survey.id %}"
            hx-swap="outerHTML"
        >
            {% csrf_token %}
            <input
                id="stats_for_survey_{{ question.survey.id }}"
                name="survey_id"
                value="{{ question.survey.id }}"
                type="hidden"
            >
            <button type="submit">Посмотреть статистику</button>
        </form>
    {% else %}
        <p>Спасибо, что ответили на вопрос!</p>
    {% endif %}
{% endif %}