{% load custom_filters %}
<div 
    id="question_panel_{{ question.id }}"
    class="question-panel"
>
    <p>{{ question.question_text }}</p>
    <form 
        hx-post="{% url "new_answer" %}" 
        id="question_form_{{ question.id }}"
        hx-swap="outerHTML"
        class="question_form"
    >
        {% csrf_token %}
        {% if question.is_choices %}
            {% for choice in question.choices|string_split:"," %}
                <div class="choice-row">
                    <input
                        id="{{ choice }}"
                        type="radio"
                        name="answer_text"
                        value={{ choice }}
                        class="choice-item"
                    >
                    <label
                        for="{{ choice }}" 
                        class="choice-item"
                    >
                        {{ choice }}
                    </label>
                </div>
            {% endfor %}
        {% else %}
            <textarea 
                id="answer_text_{{ question.id }}" 
                name="answer_text"
                placeholder="Введите Ваш ответ здесь"
                class="text-input-large"
                rows=15
                cols=100
            ></textarea>
        {% endif %}
        <input
            id="answer_to_{{ question.id }}"
            name="question_id"
            value="{{ question.id }}"
            type="hidden"
        >
        <button type="submit">Отправить</button>
    </form>
</div>